@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UTOPIA</h1>
    <p>Benvenuto nella piattaforma di UTOPIA. Registrati o accedi al tuo profilo per scegliere il prossimo evento da andare questo weekend.</p>
</div>
